@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Amatic SC', sans-serif;
        font-family: 'Lobster Two', cursive;
        font-family: 'Handlee', cursive;
    }
}

.overflow-x-auto::-webkit-scrollbar,
#descripScroll::-webkit-scrollbar {
    width: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track,
#descripScroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb,
#descripScroll::-webkit-scrollbar-thumb {
    background-color: #E0BBEA;
    border-radius: 10px;
}