@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Amatic SC', sans-serif;
        font-family: 'Lobster Two', cursive;
        font-family: 'Handlee', cursive;
    }
}